.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0,204,255,0.1), rgba(255,255,255,1));
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
