#comp2{
    border: solid rgba(169, 169, 169, 1);
    width: 35em;
    height: 40em;
    position: absolute;
    top: 5em;
    left: 62em;
}

#button2{
    width: 7em;
}

#factsElement{
    border: solid black;
    width: 30em;
    height: 18em;
    position: absolute;
    top: 10em;
    left: 2.5em;
}
